body {
    background-color: #ffffff;
    color: #272343;
    padding: 20px 48px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 25px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #f0fff5;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

li a {
    font-size: 20px;
    color: #272343;
    text-decoration: none;
    padding: 5px;
}

li a:hover {
    background-color: #7ce2dd;
}

header {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid rgb(23, 88, 255);
    padding: 10px;
    margin: 40px auto;
}

header img {
    max-width: 100%;
    height: auto;
}

header > div {
    max-width: 400px;
    min-height: 200px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}

#projects > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #272343;
    border-radius: 5px;
    padding: 5px;
}

#projects > div:hover {
    cursor: pointer;
    background-color: #defffd;
    /* transform: scale(1.1); */
    transition: transform 0.3s ease;
}

#projects .icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#projects i {
    font-size: 20px;
}

#projects i:hover {
    cursor: pointer;
    font-size: 25px;
}

#projects img {
    width: 95%;
}

footer {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid rgb(23, 88, 255);
    padding: 10px;
    margin: 40px auto;
}

footer img {
    max-width: 100%;
    height: auto;
}

footer > div {
    max-width: 400px;
    min-height: 200px;
}

@media (max-width: 800px) {
    body {
        padding: 10px 24px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* gap: 10px; */
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* gap: 10px; */
        align-items: center;
    }
}